body{
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Be Vietnam Pro', sans-serif; 
  background-color: #424142;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font-weight: 500;
}

header{
  margin: 0;
  padding: 0 10%;
  background-color: #808080;
  height: 50px;  
}


main { 
  background-color: #808080;   
  height:350px;
  padding: 0 10%;   
  border: 0;
  margin: 0;
}


.main-div{
  padding: 0;
  border: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/main.jpg");
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition-delay: 0.1s; 
}

.main-a{
  font-size: 200px;
  color: rgba(255, 255, 255, 0.322);
  text-decoration: none;
}

.main-a:hover{
  font-size: 200px;
  color: white;
  text-decoration: none;
}


.logo{
  margin: 0;
  border: 0;
  padding: 0;
  width: 10%;   
  height: 100%;
  background-color: #8a8a8a;    
  float: left; 
  display: flex; 
  align-items: center ; 
  justify-content: center;
}

nav{
  width: 90%;   
  background-color: #282828;  
  float:left; 
  height: 100%;
  margin: 0;
  border: 0; 
  padding: 0;
  display:flex;
  flex-direction: column;
  justify-content: center;
  
}



.logo-img{
  width: 46px;
  height: 46px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: auto;
  padding-right: auto;
  border: 0;
}

ul{
  list-style: none;
}

nav li{
  display: inline-block;   
  float: right;
}

footer li{
  display: inline-block;   
  float: left;
}

li a{   
  text-decoration: none;    
  color: white;
  padding: 0 10px;
  margin: 0;  
  font-size: 20px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}


.nav-li a:hover {
  background-color: #201e1f;
  color: #ffc801;
}



section{
  display:block;
  background-color: #808080;
  color: #201e1f;   
  margin: 0;    
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10%;
  padding-right: 10%;   
  border: 0;
}

.div-section-album{
  width: 100%;
  height: 170px;
  background-color: #424142;
}


.div-section-videos{
  width: 100%;
  height: 500px;
  background-color: #42414273;
  text-align: center;
}

.div-section-videos-titles{
  width: 100%;
  height: auto;
  background-color: #42414273;
  text-align: center;
}


.div-album{  
  width: 25%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  float: left; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-album{  
  width: 40%;   
  border-radius: 50%;
  padding: 5%;
}

.a-album{  
  padding: 20px  5px;
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.div-album a:hover{ 
  text-decoration:underline;
}

h1{
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  border: 0;
  color:white;
}

h2{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  margin: 0;
  border: 0;
  color:white;
}

.div-video-box{
  float: left;
  border: 0;
  margin: 0;
  padding: 0;   
  width: 33.3%;  
  height: 250px;  
  background-color: #42414273;
}


.img-video{
  display: block;
  width: 100%;  
  object-fit: contain;
  padding: 0;
  margin: 0;
  border: 0;
}


.a-video{  
  display: block;
  padding: 10px ;
  margin: 0;
  border: 0;
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.div-video-box a:hover{ 
  text-decoration:underline;
}

.div-media{ 
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 400px;
  background-color: #424142;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer{
  display:block;
  background-color: #808080;
  margin: 0;    
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10%;
  padding-right: 10%;   
  border: 0;  
}

.footer-div{
  width: 100%;
  height: 500px;  
  text-align: center;
}

.footer-div-box{
  float: left;
  border: 0;
  margin: 0;
  padding: 0;   
  width: 33.33%;  
  height: 250px;  
  background-color: #424142;
}

h4{
  padding-top: 10px;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 0;
  font-size: 14px;
  margin: 0;
  border: 0;
  color:white;
  display: block;
}

.footer-div-map{
  display: block;
  margin: 0;
  border: 0;
  padding:0;
  width: 100%;
  height: 200px;
}

.footer-div-txt{
  text-align: center;
  display: block;
  margin: 0;
  border: 0;
  padding:0;
  width: 100%;
  height: 50px;
}


.mapouter{
  position:relative;
  text-align:right;
  width: 100%;  
  height: 100%;
  object-fit: contain;
}

.gmap_canvas {
  overflow:hidden;
  background:none!important;
  width: 100%;  
  height: 100%;
  object-fit: contain;
}

.div-copyright{
  border: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  background-color: #424142;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
p{
  padding: 0 20px;
  color: white;
}

.section-mosaico{
  width: 100%;
  height: 890;  
  text-align: center;  
}

.div-mosaico{
  float: left;
  margin: 0;
  padding: 0;
  border: 0;
  width: 33.33%;
  height: 890px;;
  background-color: #424142;
}

.img-mosaico{
  display: block;
  width: 100%;  
  object-fit: contain; 
  padding: 0;
  margin: 0;
  border: 0; 
}
.img-mosaico1{
  border: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 12px;
  padding: 0;  
}

.img-mosaico2{
  border: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 70px;
  padding: 0;  
}
